<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets" version = "1.0.0" >

  <name>NCERT Textbooks</name>

  <description>
      This is an archive of all the NCERT textbooks.
  </description>

  <author href="https://ncertbooks.epizy.com" email="contact@ncertbooks.epizy.com">
      Dhruv Patel
  </author>

  <icon src="favicon.png" />

</widget>